.container{
    margin-left: 13.50%;
    margin-top: 70%;
    font-style: oblique;
}
.bac{
    background:  url(https://wallpaper.dog/large/265691.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}