.containerProd{
    position: absolute;
    width: 1px;
    height: 813px;
    left: 155px;
    top: -6px;

    background: #000000;    
}
.MAMACO_Prod{
    font-style: italic;
}
.bt_prod{
 right: 135px;
 top: 530px;
}